h1 {
  padding: 0px;
  margin: 0px;
}

.modals {
  height: 100px;
  width: auto;
}

.img {
  height: 100px;
}


/* Element */

.section-right {
  
  float: left;
  height: calc(100vh - 10px);
  width: calc(100% - 175px);
  overflow: auto;
  
}



.element-card {
  height: auto;
  position: relative;
  text-align: center;
  padding: 15px;
  border-radius: 7px;
  word-wrap: break-word;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
}





/* Navbar */

.section-left {
  position: relative;
  display: flex;
  align-items: center;
  float: left;
  width: 175px;
  background-color: wheat;
  height: 100vh;
}



.button {
  cursor: pointer;
  height: 50px;
  width: 100%;
  background-color: wheat;
  border: none;
}



.button-back {
  cursor: pointer;
  height: 50px;
  width: 100%;
  background-color: wheat;
  border: none;
  position: absolute;
  bottom: 10px;
}


.parent {
  overflow: hidden;
  margin-top: 50px;
}

