h1 {
  padding: 0px;
  margin: 0px;
}

.modals {
  height: 100px;
}

.img {
  height: 100px;
}


/* Element */

@media  screen and (max-width: 600px){
  div.menu{
    display: block;
  }
}

.menu {
  display: none;
}

.section-right {
  float: left;
  height: calc(100vh);
  width: 90%;
  overflow: auto;
}

@media  screen and (max-width: 900px){
  .section-right{
    width: 80%;
  }
}
@media  screen and (max-width: 600px){
  .section-right{
    height: calc(100vh - 55px);
    width: 100%;
  }
}

.section-right::-webkit-scrollbar {
  display: none;
}

.element-card {
  height: auto;
  text-align: center;
  padding: 15px;
  border-radius: 7px;
  word-wrap: break-word;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
}





/* Navbar */

.section-left {
  position: relative;
  display: flex;
  align-items: center;
  float: left;
  width: 10%;
  background-color: wheat;
  height: 100vh;
}

@media  screen and (max-width: 900px){
  .section-left{
    width: 20%;
  }
}
@media  screen and (max-width: 600px){
  .section-left{
    display: none;
  }
}



.button {
  cursor: pointer;
  height: 50px;
  width: 100%;
  background-color: wheat;
  border: none;
}

.button-menu {
  align-items: start;
  cursor: pointer;
  height: 50px;
  width: 30%;
  background-color: wheat;
  border: none;
  position: absolute;
  top: 10px;
}

.button-back {
  cursor: pointer;
  height: 50px;
  width: 100%;
  background-color: wheat;
  border: none;
  position: absolute;
  bottom: 10px;
}


.parent {
  overflow: hidden;
  margin-top: 50px;
}


/* NavbarMobile */

.navbar-main {
  position: fixed;
  top: 1;
  left: 0;
  width: 30%;
  height: auto;
  background: rgba(199, 171, 120, 0.596);
  z-index: 100;
}

.title {
  cursor: pointer;
  color: white;
}

.menu-button {
  text-align: center;
  cursor: pointer;
  height: 50px;
  width: 100%;
  background-color:  rgba(199, 171, 120, 0.596);
  border: none;
}



.menu {
  width: 100%;
  background-color:  rgba(199, 171, 120, 0.596);
}

.menu-icon {
  margin: 10px;
  margin-left: 20px;
}